
.menu * {
	padding-left: 3px;
	padding-right: 3px;
	font-size: 20px;
	padding: 0px 5px;
}

.menu .inactive {
	color: #6395ee;
}

.menu .active {
	color: #cf7575;
}

h1 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 500;
	font-size: 32px;
	margin-bottom: 6px;
}

* {
	font-family: 'Noto Sans', sans-serif;
	font-size: 15px;
	line-height: 1.4;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	overflow-x: hidden;
}

h2 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: normal;
	font-size: 22px;
	margin-top: 11px;
}

.article h3 {
	text-align: center;
	color: rgb(180, 64, 64);
	margin-top: 25px;
}

a {
	color: black;
	text-decoration: none;
	font-size: inherit;
}

a img {
	border-width: 0px;
}

.nivoSlider {
	width: 421px;
}

.slider-wrapper {
	margin-top: 33px;
}

.theme-default .nivo-controlNav {
	padding: 5px;
}

.signature {
	margin-top: 36px;
	margin-bottom: 18px;
	font-size: 12px;
}

.signature a {
	text-decoration: underline;
}

#content {
	width: 500px;
	margin: 28px auto 0px auto;
}

.article * {
	text-align: justify;
}

.article h2 {
	text-align: center;
}

.screenshot {
	border: 1px #a0a0a0 solid;
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	padding: 10px;
}
